/* centrar título */
h1.text-center {
    text-align: center;
}

/* Imagen de los pokemon */
.pokemon-img {
    width: 200px;
    margin: auto;
    background-color: rgb(236, 236, 236);
}

/* ID del pokemon */
.pokemon-id {
    font-size: 1rem;
    font-weight: 500;
}

/* Nombre del pokemon */
.pokemon-name {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1.1rem;
    font-weight: bold;
}

/* Tarjeta con borde */
.card {
    border-radius: 20px;
}

